body {
  background-color: #dcdcbe;
  font-family: "Crimson Text", serif;
  font-weight: 300;
  margin: 0;
  padding-bottom: 60px;
  text-align: center;

}

h1 {
  font-size: 30px;
  font-variant: small-caps;
  margin: 1em 0 -1em;
}

h2 {
  bottom: -0.1em;
  font-size: 24px;
  font-style: italic;
  margin: 0;
  max-width: 100%;
  opacity: 0.8;
  overflow: hidden;
  padding: 0 0.2em 0 0.6em;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h1 .ampersand {
  display: block;
  font-size: 48px;
  margin: -0.33em;
}

h3 {
  padding-top: 1em;
  font-size: 24px;
  font-variant: small-caps;
}
hr {
  border: 0;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.3), transparent);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.3), transparent);
  height: 1px;
  margin: 60px auto;
  width: 400px;
}

.collection, .sample {
  display: inline-block;
}

.collection {
  width: 100%;
}

.sample {
  margin: 12px;
  max-width: 100%;
  position: relative;
}

canvas {
  height: 100%;
  width: 100%;
}

p {
  font-style: italic;
  font-size: 20px;
  margin-top: -30px;
  margin: auto;
  width: 50%;
  text-align: center;
}

a {
  color: inherit;
}

@media screen and (max-width: 300px) {
  .sample {
    margin: 12px 0;
  }
}
